#header {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid black;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: inline-block;
  border: 1px solid black;
  margin-left: 0;
  padding-left: 30px;
  flex-grow: 1;
}

#logoImage {
  border-right: 2px solid mediumaquamarine;
}

#logo h4 {
  display: inline-block;
}

#nav {
  margin-left: 0;
  padding-right: 30px;
}

#nav nav ul li {
  display: inline;
  list-style-type: none;
}

.headerFont {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.logoColor {
  color: mediumaquamarine;
}
