#header {
  display: flex;
  border-bottom: 2px solid black;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: inline-block;
  margin-left: 30px;
}

#logoImage {
  border-right: 2px solid mediumaquamarine;
}

#header nav {
  margin-right: 30px;
}

#navSpans {
  display: inline-block;
}

.headerFont {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.logoColor {
  color: mediumaquamarine;
}
